In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from math import nan

# Aufbereitung

## 1082

In [3]:
df_1082 = pd.read_csv('../data/raw/1082_monatsbericht_suesswaren_timeseries.csv', skiprows =7,
            skipfooter = 4, sep = ';'
            )
df_1082

C:\Users\judit\AppData\Local\Temp\ipykernel_10412\1636501311.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_1082 = pd.read_csv('../data/raw/1082_monatsbericht_suesswaren_timeseries.csv', skiprows =7,

,Unnamed: 0,Unnamed: 1,Betriebe,Unnamed: 3,Beschäftigte,Unnamed: 5,Geleistete Arbeitsstunden,Unnamed: 7,Bruttolohn- und -gehaltssumme,Unnamed: 9,Umsatz,Unnamed: 11,Inlandsumsatz,Unnamed: 13,Auslandsumsatz,Unnamed: 15,Auslandsumsatz mit der Eurozone,Unnamed: 17,Auslandsumsatz mit dem sonstigen Ausland,Unnamed: 19
0,NaN,NaN,Anzahl,Anzahl,Anzahl,Anzahl,1000,1000,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR
1,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Januar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,2394,e,449679,e,60212,e,1214597,e,11680675,e,8849989,e,2830686,e,1982405,e,848281,e
4,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,391,e,99191,e,13403,e,331544,e,2356737,e,1560345,e,796392,e,564629,e,231763,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,124,p,40959,p,5074,p,228521,p,1413867,p,826692,p,587174,p,407023,p,180151,p
340,Dezember,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN
342,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN
343,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN

In [4]:
df_1082.columns = ['Steller', 'Produkt', 'Betriebe', 'Betriebe_ep', 'Beschäftigte',
       'Beschäftigte_ep', 'Geleistete Arbeitsstunden', 'Geleistete Arbeitsstunden_ep',
       'Bruttolohn- und -gehaltssumme', 'Bruttolohn- und -gehaltssumme_ep', 'Umsatz', 'Umsatz_ep',
       'Inlandsumsatz', 'Inlandsumsatz_ep', 'Auslandsumsatz', 'Auslandsumsatz_ep',
       'Auslandsumsatz mit der Eurozone', 'Auslandsumsatz mit der Eurozone_ep',
       'Auslandsumsatz mit dem sonstigen Ausland', 'Auslandsumsatz mit dem sonstigen Ausland_ep']

In [5]:
df_1082['month']=0
for k in [2, 198,  51, 149, 100, 296, 247]:
    for month in range(1,13): 
        for i in range(1,4):
            df_1082.iloc[k+i+(month-1)*4, -1] = month
for k in [2, 198,  51, 149, 100, 296, 247]:
    for month in range(0,12): 
        df_1082 =  df_1082.drop(k + month * 4,axis=0)
df_1082['year']=0
for k in range(7):
    for i in range(37):
        df_1082.iloc[1 + k* 37 + i, -1] = k + 2019
for k in range(7):
    df_1082 =df_1082.drop(1 + k*49,axis = 0)

In [6]:
vielfachheiten = df_1082.iloc[0,:]
df_1082 =df_1082.drop(0,axis = 0)
for col in ['Betriebe', 'Beschäftigte', 'Geleistete Arbeitsstunden', 'Bruttolohn- und -gehaltssumme', 
            'Inlandsumsatz', 'Auslandsumsatz', 'Auslandsumsatz mit der Eurozone', 'Umsatz',
            'Auslandsumsatz mit dem sonstigen Ausland']:
    df_1082[col]=df_1082[col].replace('...', nan)
    df_1082[col]=df_1082[col].astype('float64')
df_1082['Geleistete Arbeitsstunden']=df_1082['Geleistete Arbeitsstunden'] * 1000
df_1082['Bruttolohn- und -gehaltssumme']=df_1082['Bruttolohn- und -gehaltssumme'] * 1000
df_1082['Umsatz']=df_1082['Umsatz'] * 1000
df_1082['Inlandsumsatz']=df_1082['Inlandsumsatz'] * 1000
df_1082['Auslandsumsatz']=df_1082['Auslandsumsatz'] * 1000
df_1082['Auslandsumsatz mit der Eurozone']=df_1082['Auslandsumsatz mit der Eurozone'] * 1000
df_1082['Auslandsumsatz mit dem sonstigen Ausland']=df_1082['Auslandsumsatz mit dem sonstigen Ausland'] * 1000

In [7]:
df_1082['day']=1
df_1082['date']=pd.to_datetime(df_1082[['year', 'month', 'day']])
df_1082 = df_1082.drop('month', axis = 1)
df_1082 = df_1082.drop('year', axis = 1)
df_1082 = df_1082.drop('day', axis = 1)

In [8]:
df_separated = []
for steller in ['WZ08-10', 'WZ08-108', 'WZ08-1082']:
    mask = (df_1082['Steller'] == steller)
    df_help = df_1082.loc[mask,:]
    df_help = df_help.drop('Steller', axis=1)
    new_columns = []
    for col in df_help.columns.values[:-1]:
        new_columns.append(col + '_' + steller)
    new_columns.append('date')
    df_help.columns = new_columns
    df_help = df_help.set_index('date')
    df_separated.append(df_help)

In [9]:
df_1082_prepared = pd.concat([df_separated[0], df_separated[1], df_separated[2]], axis = 1)

In [10]:
df_1082_prepared.to_csv('../data/processed/1082_processed.csv')