In [188]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from math import nan

from core.data import load_from_kaggle

In [ ]:
dataset_link = "declanmcalinden/time-series-uk-supermarket-data" # replace with your dataset link from Kaggle 
destination = "../data/raw"
dataset_name = dataset_link.split("/")[-1]

files = load_from_kaggle(
    dataset_link=dataset_link, 
    destination=destination,
    )

In [ ]:
files

In [ ]:
df_aldi = pd.read_csv("/".join(["../data/raw/", dataset_name, files[0]]))
df_asda = pd.read_csv("/".join(["../data/raw/", dataset_name, files[1]]))
df_morrisons = pd.read_csv("/".join(["../data/raw/", dataset_name, files[2]]))
df_sains = pd.read_csv("/".join(["../data/raw/", dataset_name, files[3]]))
df_tesco = pd.read_csv("/".join(["../data/raw/", dataset_name, files[4]]))
df_aldi.head()

In [ ]:
df_list = []
for df in [df_aldi, df_asda, df_morrisons, df_sains, df_tesco]:
    df= df.dropna(subset = 'names')
    df_list.append(df.loc[df['names'].str.contains('choc', case=False), :])
df_choc = pd.concat([df_list[0], df_list[1], df_list[2], df_list[3], df_list[4]])

In [ ]:

display(
    "Shape", df_choc.shape,
    "Description", df_choc.describe().round(2).T,
    "Duplicates", df_choc.duplicated().sum(),
    )


print(pd.DataFrame(
    {
        "Data Types": df_choc.dtypes,
        "Missing Values": df_choc.isnull().sum(),
        "Unique Values": df_choc.nunique(),
        "Sample Values": [df_choc[col].sample(3).tolist() for col in df_choc.columns]
    }))

In [ ]:
df_choc.head()

In [ ]:
print('Different products: ', df_choc['names'].nunique())

In [ ]:
df.info()

In [ ]:
df_choc.groupby('names')[['supermarket']].agg('count')

In [ ]:
df_choc['date'] = pd.to_datetime(df_choc.loc[:,'date'], format = "%Y%m%d")

In [ ]:
mask = df_choc['names'] == 'Lindt Lindor Milk Chocolate'

In [ ]:
fig, ax = plt.subplots(nrows=1, ncols=1, figsize=(5,5))
ax.scatter(df_choc.loc[mask, 'date'],df_choc.loc[mask, 'prices_(£)'])

In [ ]:
liste = []
for product in df_choc['names'].unique():
    mask = df_choc['names']==product
    liste.append(len(df_choc.loc[mask, 'prices_(£)'].unique()))

In [ ]:
for i in range(11):
 print(f'Number of products with {i} different prices: {liste.count(i)}')

In [ ]:
print('Earliest date: ', df_choc['date'].min())
print('Latest date: ', df_choc['date'].max())

# Aufbereitung

## 1082

In [173]:
df_1082 = pd.read_csv('../data/raw/1082_monatsbericht_suesswaren_timeseries.csv', skiprows =7,
            skipfooter = 4, sep = ';'
            )
df_1082

C:\Users\judit\AppData\Local\Temp\ipykernel_6344\1636501311.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_1082 = pd.read_csv('../data/raw/1082_monatsbericht_suesswaren_timeseries.csv', skiprows =7,

,Unnamed: 0,Unnamed: 1,Betriebe,Unnamed: 3,Beschäftigte,Unnamed: 5,Geleistete Arbeitsstunden,Unnamed: 7,Bruttolohn- und -gehaltssumme,Unnamed: 9,Umsatz,Unnamed: 11,Inlandsumsatz,Unnamed: 13,Auslandsumsatz,Unnamed: 15,Auslandsumsatz mit der Eurozone,Unnamed: 17,Auslandsumsatz mit dem sonstigen Ausland,Unnamed: 19
0,NaN,NaN,Anzahl,Anzahl,Anzahl,Anzahl,1000,1000,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR,Tsd. EUR
1,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Januar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,2394,e,449679,e,60212,e,1214597,e,11680675,e,8849989,e,2830686,e,1982405,e,848281,e
4,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,391,e,99191,e,13403,e,331544,e,2356737,e,1560345,e,796392,e,564629,e,231763,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,124,p,40959,p,5074,p,228521,p,1413867,p,826692,p,587174,p,407023,p,180151,p
340,Dezember,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN
342,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN
343,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN

In [174]:
df_1082.columns = ['Steller', 'Produkt', 'Betriebe', 'Betriebe_ep', 'Beschäftigte',
       'Beschäftigte_ep', 'Geleistete Arbeitsstunden', 'Geleistete Arbeitsstunden_ep',
       'Bruttolohn- und -gehaltssumme', 'Bruttolohn- und -gehaltssumme_ep', 'Umsatz', 'Umsatz_ep',
       'Inlandsumsatz', 'Inlandsumsatz_ep', 'Auslandsumsatz', 'Auslandsumsatz_ep',
       'Auslandsumsatz mit der Eurozone', 'Auslandsumsatz mit der Eurozone_ep',
       'Auslandsumsatz mit dem sonstigen Ausland', 'Auslandsumsatz mit dem sonstigen Ausland_ep']

In [175]:
df_1082['month']=0
for k in [2, 198,  51, 149, 100, 296, 247]:
    for month in range(1,13): 
        for i in range(1,4):
            df_1082.iloc[k+i+(month-1)*4, -1] = month
for k in [2, 198,  51, 149, 100, 296, 247]:
    for month in range(0,12): 
        df_1082 =  df_1082.drop(k + month * 4,axis=0)
df_1082['year']=0
for k in range(7):
    for i in range(37):
        df_1082.iloc[1 + k* 37 + i, -1] = k + 2019
for k in range(7):
    df_1082 =df_1082.drop(1 + k*49,axis = 0)

In [181]:
vielfachheiten = df_1082.iloc[0,:]
df_1082 =df_1082.drop(0,axis = 0)

In [183]:
df_1082

,Steller,Produkt,Betriebe,Betriebe_ep,Beschäftigte,Beschäftigte_ep,Geleistete Arbeitsstunden,Geleistete Arbeitsstunden_ep,Bruttolohn- und -gehaltssumme,Bruttolohn- und -gehaltssumme_ep,...,Inlandsumsatz,Inlandsumsatz_ep,Auslandsumsatz,Auslandsumsatz_ep,Auslandsumsatz mit der Eurozone,Auslandsumsatz mit der Eurozone_ep,Auslandsumsatz mit dem sonstigen Ausland,Auslandsumsatz mit dem sonstigen Ausland_ep,month,year
3,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,2394,e,449679,e,60212,e,1214597,e,...,8849989,e,2830686,e,1982405,e,848281,e,1,2019
4,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,391,e,99191,e,13403,e,331544,e,...,1560345,e,796392,e,564629,e,231763,e,1,2019
5,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,128,e,36176,e,4704,e,111357,e,...,368683,e,293234,e,203492,e,89742,e,1,2019
7,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,2424,e,451567,e,56795,e,1174794,e,...,8375547,e,2686979,e,1865143,e,821836,e,2,2019
8,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,394,e,98359,e,12455,e,323609,e,...,1584289,e,782392,e,549017,e,233375,e,2,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,440,p,124547,p,16097,p,706744,p,...,2868523,p,1411638,p,953347,p,458291,p,11,2025
339,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,124,p,40959,p,5074,p,228521,p,...,826692,p,587174,p,407023,p,180151,p,11,2025
341,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,...,NaN,...,NaN,...,NaN,...,NaN,...,...,NaN,...,NaN,...,NaN,...,NaN,12,2025
342,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,...,NaN,...,NaN,...,NaN,...,NaN,...,...,NaN,...,NaN,...,NaN,...,NaN,12,2025
343,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,...,NaN,...,NaN,...,NaN,...,NaN,...,...,NaN,...,NaN,...,NaN,...,NaN,12,2025

In [ ]:
for col in ['Betriebe', 'Beschäftigte', 'Geleistete Arbeitsstunden', 'Bruttolohn- und -gehaltssumme', 
            'Inlandsumsatz', 'Auslandsumsatz', 'Auslandsumsatz mit der Eurozone', 
            'Auslandsumsatz mit dem sonstigen Ausland']:
    df_1082[col]=df_1082[col].replace('...', nan)
    df_1082[col]=df_1082[col].astype('float64')

In [189]:
df_1082['Geleistete Arbeitsstunden']=df_1082['Geleistete Arbeitsstunden'] * 1000
df_1082['Bruttolohn- und -gehaltssumme']=df_1082['Bruttolohn- und -gehaltssumme'] * 1000
df_1082['Umsatz']=df_1082['Umsatz'] * 1000
df_1082['Inlandsumsatz']=df_1082['Inlandsumsatz'] * 1000
df_1082['Auslandsumsatz']=df_1082['Auslandsumsatz'] * 1000
df_1082['Auslandsumsatz mit der Eurozone']=df_1082['Auslandsumsatz mit der Eurozone'] * 1000
df_1082['Auslandsumsatz mit dem sonstigen Ausland']=df_1082['Auslandsumsatz mit dem sonstigen Ausland'] * 1000

In [190]:
df_1082

,Steller,Produkt,Betriebe,Betriebe_ep,Beschäftigte,Beschäftigte_ep,Geleistete Arbeitsstunden,Geleistete Arbeitsstunden_ep,Bruttolohn- und -gehaltssumme,Bruttolohn- und -gehaltssumme_ep,...,Inlandsumsatz,Inlandsumsatz_ep,Auslandsumsatz,Auslandsumsatz_ep,Auslandsumsatz mit der Eurozone,Auslandsumsatz mit der Eurozone_ep,Auslandsumsatz mit dem sonstigen Ausland,Auslandsumsatz mit dem sonstigen Ausland_ep,month,year
3,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,2394.0,e,449679.0,e,60212000.0,e,1.214597e+09,e,...,8.849989e+09,e,2.830686e+09,e,1.982405e+09,e,848281000.0,e,1,2019
4,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,391.0,e,99191.0,e,13403000.0,e,3.315440e+08,e,...,1.560345e+09,e,7.963920e+08,e,5.646290e+08,e,231763000.0,e,1,2019
5,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,128.0,e,36176.0,e,4704000.0,e,1.113570e+08,e,...,3.686830e+08,e,2.932340e+08,e,2.034920e+08,e,89742000.0,e,1,2019
7,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,2424.0,e,451567.0,e,56795000.0,e,1.174794e+09,e,...,8.375547e+09,e,2.686979e+09,e,1.865143e+09,e,821836000.0,e,2,2019
8,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,394.0,e,98359.0,e,12455000.0,e,3.236090e+08,e,...,1.584289e+09,e,7.823920e+08,e,5.490170e+08,e,233375000.0,e,2,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,440.0,p,124547.0,p,16097000.0,p,7.067440e+08,p,...,2.868523e+09,p,1.411638e+09,p,9.533470e+08,p,458291000.0,p,11,2025
339,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,124.0,p,40959.0,p,5074000.0,p,2.285210e+08,p,...,8.266920e+08,p,5.871740e+08,p,4.070230e+08,p,180151000.0,p,11,2025
341,WZ08-10,Herstellung von Nahrungs- und Futtermitteln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2025
342,WZ08-108,Herstellung von sonstigen Nahrungsmitteln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2025
343,WZ08-1082,Herstellung von Süßwaren (ohne Dauerbackwa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2025