In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

from core.data import load_from_kaggle

In [ ]:
dataset_link = "declanmcalinden/time-series-uk-supermarket-data" # replace with your dataset link from Kaggle 
destination = "../data/raw"
dataset_name = dataset_link.split("/")[-1]

files = load_from_kaggle(
    dataset_link=dataset_link, 
    destination=destination,
    )

In [ ]:
files

In [ ]:
df_aldi = pd.read_csv("/".join(["../data/raw/", dataset_name, files[0]]))
df_asda = pd.read_csv("/".join(["../data/raw/", dataset_name, files[1]]))
df_morrisons = pd.read_csv("/".join(["../data/raw/", dataset_name, files[2]]))
df_sains = pd.read_csv("/".join(["../data/raw/", dataset_name, files[3]]))
df_tesco = pd.read_csv("/".join(["../data/raw/", dataset_name, files[4]]))
df_aldi.head()

In [ ]:
df_list = []
for df in [df_aldi, df_asda, df_morrisons, df_sains, df_tesco]:
    df= df.dropna(subset = 'names')
    df_list.append(df.loc[df['names'].str.contains('choc', case=False), :])
df_choc = pd.concat([df_list[0], df_list[1], df_list[2], df_list[3], df_list[4]])

In [ ]:

display(
    "Shape", df_choc.shape,
    "Description", df_choc.describe().round(2).T,
    "Duplicates", df_choc.duplicated().sum(),
    )


print(pd.DataFrame(
    {
        "Data Types": df_choc.dtypes,
        "Missing Values": df_choc.isnull().sum(),
        "Unique Values": df_choc.nunique(),
        "Sample Values": [df_choc[col].sample(3).tolist() for col in df_choc.columns]
    }))

In [ ]:
df_choc.head()

In [ ]:
print('Different products: ', df_choc['names'].nunique())

In [ ]:
df.info()

In [ ]:
df_choc.groupby('names')[['supermarket']].agg('count')

In [ ]:
df_choc['date'] = pd.to_datetime(df_choc.loc[:,'date'], format = "%Y%m%d")

In [ ]:
mask = df_choc['names'] == 'Lindt Lindor Milk Chocolate'

In [ ]:
fig, ax = plt.subplots(nrows=1, ncols=1, figsize=(5,5))
ax.scatter(df_choc.loc[mask, 'date'],df_choc.loc[mask, 'prices_(£)'])

In [ ]:
liste = []
for product in df_choc['names'].unique():
    mask = df_choc['names']==product
    liste.append(len(df_choc.loc[mask, 'prices_(£)'].unique()))

In [ ]:
for i in range(11):
 print(f'Number of products with {i} different prices: {liste.count(i)}')

In [ ]:
print('Earliest date: ', df_choc['date'].min())
print('Latest date: ', df_choc['date'].max())