#### Reading Data

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from math import nan

from core.data import load_from_kaggle

c:\Users\jmerg\dpp_projekt_2026\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [11]:
df_ferrero2324 = pd.read_csv('../data/raw/010224_010223_Ferrero.csv', sep=';', skiprows=1)
df_ferrero2324.head()

      Datum Eröffnung Schluss Tageshoch Tagestief  Umsatz  Umsatz in Stück
0  01.02.24      6,96    6,96      6,96      6,96     NaN              NaN
1  31.01.24      6,92    6,92      6,92      6,92     NaN              NaN
2  30.01.24      7,02    7,02      7,02      7,02     NaN              NaN
3  29.01.24      6,96    6,96      6,96      6,96     NaN              NaN
4  26.01.24      6,86    6,86      6,86      6,86     NaN              NaN

In [ ]:
df_ferrero = df_ferrero2324.loc[]


for

#### Calculating mean and applying it