#### Reading Data

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from math import nan

from core.data import load_from_kaggle

c:\Users\judit\Portfolioproject_mit_Salima\dpp_projekt_2026\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df_ferrero2324 = pd.read_csv('../data/raw/010224_010223_Ferrero.csv', sep=';', decimal=',', skiprows=1)
df_ferrero2324.head()

      Datum  Eröffnung  Schluss  Tageshoch  Tagestief Umsatz  Umsatz in Stück
0  01.02.24       6.96     6.96       6.96       6.96    NaN              NaN
1  31.01.24       6.92     6.92       6.92       6.92    NaN              NaN
2  30.01.24       7.02     7.02       7.02       7.02    NaN              NaN
3  29.01.24       6.96     6.96       6.96       6.96    NaN              NaN
4  26.01.24       6.86     6.86       6.86       6.86    NaN              NaN

In [4]:
print(df_ferrero2324.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Datum            256 non-null    object
 1   Eröffnung        256 non-null    float64
 2   Schluss          256 non-null    float64
 3   Tageshoch        256 non-null    float64
 4   Tagestief        256 non-null    float64
 5   Umsatz           13 non-null     object
 6   Umsatz in Stück  13 non-null     float64
dtypes: float64(5), object(2)
memory usage: 14.1+ KB
None

In [5]:
# pro Monat Durchschnitts- Schlusskurs berechnen

# Datum in datetime umwandeln und als Index setzen
from duckdb import df


df_ferrero2324['Datum'] = pd.to_datetime(df_ferrero2324['Datum'], format='%d.%m.%y')
df_ferrero2324.set_index('Datum', inplace=True)






print(df_ferrero2324.head())
print(df_ferrero2324.info())

            Eröffnung  Schluss  Tageshoch  Tagestief Umsatz  Umsatz in Stück
Datum
2024-02-01       6.96     6.96       6.96       6.96    NaN              NaN
2024-01-31       6.92     6.92       6.92       6.92    NaN              NaN
2024-01-30       7.02     7.02       7.02       7.02    NaN              NaN
2024-01-29       6.96     6.96       6.96       6.96    NaN              NaN
2024-01-26       6.86     6.86       6.86       6.86    NaN              NaN
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 256 entries, 2024-02-01 to 2023-02-01
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Eröffnung        256 non-null    float64
 1   Schluss          256 non-null    float64
 2   Tageshoch        256 non-null    float64
 3   Tagestief        256 non-null    float64
 4   Umsatz           13 non-null     object
 5   Umsatz in Stück  13 non-null     float64
dtypes: float64(5), object(1)
memory usage: 14.0+ KB
None

In [6]:
# monatliche Durchschnittswerte berechnen
df_ferrero = df_ferrero2324.loc[:, 'Schluss'].resample('ME').mean()
df_ferrero.head()

Datum
2023-02-28    4.990500
2023-03-31    4.939130
2023-04-30    5.531111
2023-05-31    6.151818
2023-06-30    6.237273
Freq: ME, Name: Schluss, dtype: float64

In [8]:
from glob import glob

# alle Mondelez Dateien finden
file_list = glob('../data/raw/*_*_Mondelez.csv')
print(file_list)

df_Mondelez = pd.DataFrame()

for file in file_list:
        
    # CSV-Datei einlesen
    df = pd.read_csv(file, sep=';', decimal=',', skiprows=1)
    
    # Datum in datetime umwandeln und als Index setzen
    df['date'] = pd.to_datetime(df['Datum'], format='%d.%m.%y')
    df.set_index('date', inplace=True)

    # concating dataframes
    df_Mondelez = pd.concat([df_Mondelez, df], axis=0)

df_Mondelez.sort_index(inplace=True)
df_Mondelez

['../data/raw\\010224_010224_Mondelez.csv', '../data/raw\\280122_010221_Mondelez.csv', '../data/raw\\290121_310120_Mondelez.csv', '../data/raw\\300120_300119_Mondelez.csv', '../data/raw\\300126_030225_Mondelez.csv', '../data/raw\\310123_310122_Mondelez.csv', '../data/raw\\310125_020224_Mondelez.csv']

,Datum,Eröffnung,Schluss,Tageshoch,Tagestief,Umsatz,Umsatz in Stück
date,,,,,,,
2019-01-30,30.01.19,37.920,38.300,38.300,37.900,44.174,1.157
2019-01-31,31.01.19,38.390,39.890,39.890,38.390,51.708,1.319
2019-02-01,01.02.19,40.400,39.960,40.850,39.960,77.393,1.925
2019-02-04,04.02.19,39.740,40.000,40.000,39.660,62.026,1.560
2019-02-05,05.02.19,40.280,40.280,40.460,40.110,70.956,1.763
...,...,...,...,...,...,...,...
2026-01-26,26.01.26,48.500,49.195,49.395,48.400,12.003,245
2026-01-27,27.01.26,48.830,48.820,49.565,48.820,6.869,139
2026-01-28,28.01.26,49.000,48.035,49.435,48.035,237.888,4.853
2026-01-29,29.01.26,47.555,47.830,48.630,47.555,106.395,2.190
2026-01-30,30.01.26,47.645,49.160,49.160,47.645,4.398,90

In [10]:
# alle Ferrero Dateien finden
file_list = glob('../data/raw/*_*_Ferrero.csv')
print(file_list)

df_Ferrero = pd.DataFrame()

for file in file_list:
        
    # CSV-Datei einlesen
    df = pd.read_csv(file, sep=';', decimal=',', skiprows=1)
    
    # Datum in datetime umwandeln und als Index setzen
    df['date'] = pd.to_datetime(df['Datum'], format='%d.%m.%y')
    df.set_index('date', inplace=True)

    # concating dataframes
    df_Ferrero = pd.concat([df_Ferrero, df], axis=0)

df_Ferrero.sort_index(inplace=True)
df_Ferrero

['../data/raw\\010224_010223_Ferrero.csv', '../data/raw\\300122_300121_Ferrero.csv', '../data/raw\\300126_030225_Ferrero.csv', '../data/raw\\310123_310122_Ferrero.csv', '../data/raw\\310125_020224_Ferrero.csv']

,Datum,Eröffnung,Schluss,Tageshoch,Tagestief,Umsatz,Umsatz in Stück
date,,,,,,,
2021-04-06,06.04.21,5.82,5.82,5.82,5.82,NaN,NaN
2021-04-07,07.04.21,5.80,5.80,5.80,5.80,NaN,NaN
2021-04-08,08.04.21,5.82,5.82,5.82,5.82,NaN,NaN
2021-04-09,09.04.21,5.88,5.88,5.88,5.88,NaN,NaN
2021-04-12,12.04.21,5.88,5.88,5.88,5.88,NaN,NaN
...,...,...,...,...,...,...,...
2026-01-26,26.01.26,7.02,7.02,7.02,7.02,NaN,NaN
2026-01-27,27.01.26,6.98,6.98,6.98,6.98,NaN,NaN
2026-01-28,28.01.26,7.02,7.02,7.02,7.02,NaN,NaN
2026-01-29,29.01.26,7.04,7.04,7.04,7.04,NaN,NaN
2026-01-30,30.01.26,6.98,6.98,6.98,6.98,NaN,NaN

In [11]:
# alle LindtSpruengli Dateien finden
file_list = glob('../data/raw/*_*_LindtSpruengli.csv')
print(file_list)

df_LindtSpruengli = pd.DataFrame()
for file in file_list:
        
    # CSV-Datei einlesen
    df = pd.read_csv(file, sep=';', decimal=',', skiprows=1)
    
    # Datum in datetime umwandeln und als Index setzen
    df['date'] = pd.to_datetime(df['Datum'], format='%d.%m.%y')
    df.set_index('date', inplace=True)

    # concating dataframes
    df_LindtSpruengli = pd.concat([df_LindtSpruengli, df], axis=0)

df_LindtSpruengli.sort_index(inplace=True)
df_LindtSpruengli

['../data/raw\\300126_030225_LindtSpruengli.csv', '../data/raw\\310125_251124_LindtSpruengli.csv']

,Datum,Eröffnung,Schluss,Tageshoch,Tagestief,Umsatz,Umsatz in Stück
date,,,,,,,
2024-11-25,25.11.24,10.476,10.476,10.476,10.476,NaN,NaN
2024-11-26,26.11.24,10.410,10.410,10.410,10.410,NaN,NaN
2024-11-27,27.11.24,10.328,10.328,10.328,10.328,NaN,NaN
2024-11-28,28.11.24,10.124,10.470,10.470,10.124,NaN,NaN
2024-11-29,29.11.24,10.422,10.422,10.422,10.422,NaN,NaN
...,...,...,...,...,...,...,...
2026-01-26,26.01.26,11.400,11.400,11.400,11.400,1.140,100
2026-01-27,27.01.26,11.500,12.300,12.300,11.500,1.547,126
2026-01-28,28.01.26,11.500,11.500,11.500,11.500,NaN,NaN
2026-01-29,29.01.26,11.400,12.400,12.400,11.400,372,30
2026-01-30,30.01.26,12.700,12.700,12.700,12.700,1.270,100

In [12]:
# monatliche Durchschnittswerte berechnen als letzter Tag im Monat
df_ferrero = df_Ferrero.loc[:, 'Schluss'].resample('ME').mean()
df_mondelez = df_Mondelez.loc[:, 'Schluss'].resample('ME').mean()
df_lindtspruengli = df_LindtSpruengli.loc[:, 'Schluss'].resample('ME').mean()

print(df_ferrero)
print(df_mondelez)  
print(df_lindtspruengli)

date
2021-04-30    6.053684
2021-05-31    6.629000
2021-06-30    7.980909
2021-07-31    7.496364
2021-08-31    8.288182
2021-09-30    8.030000
2021-10-31    8.156190
2021-11-30    7.600909
2021-12-31    6.818095
2022-01-31    7.072381
2022-02-28    6.723000
2022-03-31    5.966957
2022-04-30    6.524211
2022-05-31    5.841818
2022-06-30    5.640909
2022-07-31    5.221905
2022-08-31    5.146957
2022-09-30    5.067727
2022-10-31    4.603333
2022-11-30    4.847727
2022-12-31    4.616667
2023-01-31    4.830000
2023-02-28    4.990500
2023-03-31    4.939130
2023-04-30    5.531111
2023-05-31    6.151818
2023-06-30    6.237273
2023-07-31    6.500952
2023-08-31    6.390435
2023-09-30    6.006667
2023-10-31    5.974545
2023-11-30    5.920000
2023-12-31    6.994737
2024-01-31    7.033636
2024-02-29    7.287619
2024-03-31    7.368000
2024-04-30    7.957143
2024-05-31    8.200000
2024-06-30    8.442000
2024-07-31    8.581739
2024-08-31    8.002727
2024-09-30    7.907619
2024-10-31    7.538261
2024-11-30    7.706667
2024-12-31    7.911111
2025-01-31    8.355455
2025-02-28    8.564000
2025-03-31    8.333333
2025-04-30    7.522000
2025-05-31    7.824762
2025-06-30    8.003810
2025-07-31    8.421739
2025-08-31    8.200000
2025-09-30    7.976364
2025-10-31    7.195652
2025-11-30    6.888000
2025-12-31    6.186316
2026-01-31    6.940952
Freq: ME, Name: Schluss, dtype: float64
date
2019-01-31    39.095000
2019-02-28    41.495000
2019-03-31    42.429048
2019-04-30    44.421250
2019-05-31    46.047045
                ...
2025-09-30    53.113636
2025-10-31    52.461739
2025-11-30    48.814000
2025-12-31    46.692105
2026-01-31    47.833571
Freq: ME, Name: Schluss, Length: 85, dtype: float64
date
2024-11-30    10.421200
2024-12-31    10.764556
2025-01-31    11.032909
2025-02-28    11.316300
2025-03-31    12.243429
2025-04-30    12.600900
2025-05-31    13.476190
2025-06-30    14.080952
2025-07-31    13.934783
2025-08-31    12.290476
2025-09-30    13.118182
2025-10-31    13.521739
2025-11-30    13.200000
2025-12-31    12.347368
2026-01-31    12.166667
Freq: ME, Name: Schluss, dtype: float64

In [13]:
# alle Produzenten nebeneinander einfügen
df_shareprice_monthly = pd.concat([df_ferrero, df_mondelez, df_lindtspruengli], axis=1)
df_shareprice_monthly.columns = ['Ferrero', 'Mondelez', 'LindtSpruengli']
#df_shareprice_monthly.to_csv('C:\\Sali\\Organisation\\Bewerbung\\Arbeitsamt\\WeiterbildungDataScientist\\PortfolioProjekt\\modified\\shareprice_monthly.csv', sep=';', decimal=',')
df_shareprice_monthly.to_csv('../data/processed/shareprice_monthly.csv')