#### Combining all time series with oneanother

In [ ]:
# loading libraries

import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from math import nan

from core.data import load_from_kaggle

In [ ]:
# loading destatis data